@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
html {
  direction: rtl;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: unset;
}

.rts-header-nav-area-one .nav-area ul li.parent:first-child a {
  /* padding-right: 0; */
  padding-left: 20px;
}

.rts-ltr-rtl-setting-button-area {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
    transition: 0.3s;
    right: -90px;
  }
  .rts-ltr-rtl-setting-button-area i {
    padding: 15px;
    cursor: pointer;
    color: var(--color-primary);
  }
  .rts-ltr-rtl-setting-button-area .ltr-rtl-area {
    display: flex;
    align-items: center;
  }
  .rts-ltr-rtl-setting-button-area.active {
    right: 0;
  }
  
  [dir=rtl] .rts-ltr-rtl-setting-button-area {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
    transition: 0.3s;
    right: -90px;
    flex-direction: row-reverse;
  }
  [dir=rtl] .rts-ltr-rtl-setting-button-area.active {
    right: 0;
  }
  [dir=rtl] .category-hover-header .category-sub-menu li a i {
    margin-right: auto;
    margin-left: 0;
  }
  [dir=rtl] .category-hover-header .category-sub-menu li a img {
    margin-left: 16px;
    transition: 0.3s;
    margin-right: 0;
  }
  [dir=rtl] li.has-dropdown .submenu li > a {
    text-align: right;
  }
  [dir=rtl] #category-active-four .submenu li a.mobile-menu-link {
    padding: 7px 70px 7px 7px;
  }
  [dir=rtl] #category-active-four .submenu li a::after {
    content: "\f053";
  }
  [dir=rtl] #category-active-four .submenu li a::after {
    right: 40px;
    left: auto;
  }
  [dir=rtl] .megamenu-item-wrapper .single-megamenu-wrapper {
    text-align: right;
  }
  [dir=rtl] .megamenu-item-wrapper .single-megamenu-wrapper::after {
    left: 60px;
  }
  [dir=rtl] .title-area-between .next-prev-swiper-wrapper .swiper-button-prev {
    left: 0;
    right: auto;
  }
  [dir=rtl] .title-area-between .next-prev-swiper-wrapper .swiper-button-next {
    left: 44px;
    right: auto;
  }
  [dir=rtl] .single-footer-wized .footersubscribe-form button {
    left: 10px;
    right: auto;
  }
  [dir=rtl] .bg_banner-2 {
    text-align: right;
  }
  [dir=rtl] .banner-area-two-start .content .rts-btn-banner-area {
    justify-content: flex-start;
  }
  [dir=rtl] .footer-two-main-wrapper form button {
    left: 5px;
    right: auto;
  }
  [dir=rtl] .footer-two-main-wrapper form button i {
    transform: rotate(-180deg);
  }
  [dir=rtl] .footer-two-main-wrapper form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    left: 5px;
    right: auto;
  }
  [dir=rtl] .banner-inner-content-three {
    text-align: right;
  }
  [dir=rtl] .banner-bg_4 .transparent-person {
    position: absolute;
    left: 280px;
    bottom: 0;
    max-width: max-content;
    right: auto;
  }
  [dir=rtl] .logo-search-category-wrapper .category-search-wrapper .location-area {
    margin-left: 20px;
    margin-right: auto;
  }
  [dir=rtl] .logo-search-category-wrapper .category-search-wrapper .location-area .icon {
    padding: 16px;
    border-left: 1px solid #E2E2E2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: auto;
  }
  [dir=rtl] .logo-search-category-wrapper .category-search-wrapper .location-area {
    padding: 16px 0 16px 16px;
  }
  [dir=rtl] .logo-search-category-wrapper .category-search-wrapper .search-header a.rts-btn {
    left: 5px;
    right: auto;
  }
  [dir=rtl] .logo-search-category-wrapper .category-search-wrapper .search-header input {
    padding-right: 10px;
    padding-left: 150px;
  }
  [dir=rtl] .add-area-start-feature .inner-add-content {
    top: 40px;
    right: 40px;
    left: auto;
  }
  [dir=rtl] .banner-left-five-area-start .inner-content-banner-five {
    margin-right: 120px;
    margin-left: auto;
  }
  @media only screen and (max-width: 767px) {
    [dir=rtl] .banner-left-five-area-start .inner-content-banner-five {
      margin-right: 60px;
    }
  }
  @media only screen and (max-width: 575px) {
    [dir=rtl] .banner-left-five-area-start .inner-content-banner-five {
      margin-right: 30px;
    }
  }
  [dir=rtl] .rts-btn.with-icon .arrow-icon .fa-arrow-right:before {
    content: "\f060";
  }
  [dir=rtl] .feature-product-area-large-2 .inner-feature-product-content {
    padding-right: 60px;
    padding-left: 0;
  }
  [dir=rtl] .banner-five-right-content .content-area {
    right: 40px;
    top: 40px;
    left: auto;
  }
  [dir=rtl] .megamenu-item-wrapper .single-megamenu-wrapper::after {
    left: 60px;
    right: auto;
  }
  [dir=rtl] .nav-area-bottom-left-header-four .category-hover-header::after {
    position: absolute;
    left: 25px;
    right: auto;
    top: 50%;
  }
  [dir=rtl] .category-btn.category-hover-header.five-style span.ml--10 {
    margin-right: 0;
    margin-left: 0;
  }
  [dir=rtl] .about-content-area-1 .check-main-wrapper .single-check-area {
    padding: 7px 0;
    padding-left: 0;
    padding-right: 25px;
    position: relative;
  }
  [dir=rtl] .about-content-area-1 .check-main-wrapper .single-check-area::after {
    right: 0;
    left: auto;
  }
  [dir=rtl] .rts-product-details-section .details-product-area .cart-edit, [dir=rtl] .rts-product-details-section .details-product-area .cart-edits {
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  [dir=rtl] .product-details-popup .product-thumb-area {
    margin-left: 40px !important;
    margin-right: 0;
  }
  [dir=rtl] .product-details-popup .product-thumb-area {
    margin-right: 0 !important;
  }
  [dir=rtl] .vendor-search-area-wrapper .search-vendor-form a {
    left: 5px;
    right: auto;
  }
  [dir=rtl] .single-filter-box .filterbox-body .category-wrapper .single-category.with-more::after {
    left: 0;
    right: auto;
  }
  [dir=rtl] .vendor-time-opening .single-opening-hour .day {
    margin-left: 30px;
    margin-right: 0;
  }
  [dir=rtl] .product-filter-area-vendors-details form a {
    left: 5px;
    right: auto;
  }
  [dir=rtl] .vendor-banner-left .location p {
    color: #fff;
    text-align: right;
  }
  [dir=rtl] .registration-form .input-wrapper {
    text-align: right;
  }
  [dir=rtl] .container-privacy-policy {
    text-align: right;
  }
  [dir=rtl] .container-privacy-policy .title {
    text-align: right;
  }
  [dir=rtl] .fa-chevron-double-right:before, [dir=rtl] .fa-chevrons-right:before {
    content: "\f323";
  }
  [dir=rtl] .header-style-two.bg-primary-header .logo-search-category-wrapper .category-search-wrapper .search-header input {
    border-radius: 5px;
  }
  [dir=rtl] .header-style-two.bg-primary-header .logo-search-category-wrapper .category-search-wrapper .category-btn {
    border-radius: 5px;
  }
  [dir=rtl] .header-style-two.bg-primary-header .logo-search-category-wrapper .category-search-wrapper {
    gap: 14px;
  }
  [dir=rtl] .category-hover-header .category-sub-menu.card-number-show {
    left: 0 !important;
    right: auto !important;
  }
  [dir=rtl] .category-hover-header .category-sub-menu.card-number-show .cart-item-1 .close-c1 {
    left: 0;
    right: auto;
  }
  [dir=rtl] .side-bar {
    left: -100%;
    width: 465px;
    right: auto;
  }
  @media only screen and (max-width: 575px) {
    [dir=rtl] .side-bar {
      width: 320px;
    }
  }
  [dir=rtl] .side-bar.show {
    left: 0;
    overflow-y: auto;
    right: auto;
  }
  [dir=rtl] .search-input-area-menu button {
    left: 10px;
    right: auto;
  }
  [dir=rtl] .mobile-menu-main nav ul li.has-droupdown::after {
    left: 0;
    right: auto;
  }
  [dir=rtl] .social-style-dash ul li::after {
    left: -44px;
    right: auto;
  }
  [dir=rtl] .ml--20 {
    margin-right: 20px !important;
  }
  [dir=rtl] .modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
    left: 21px;
    position: relative;
    right: auto;
    margin-right: auto;
    margin-left: 0;
  }
  [dir=rtl] .progress-wrap {
    left: 30px;
    right: auto;
  }
  [dir=rtl] .navigator-breadcrumb-wrapper .fa-chevron-right:before {
    content: "\f053";
  }
  [dir=rtl] .accordion-button::after {
    display: none;
  }
  [dir=rtl] #myModal-1 .modal-body .inner-content {
    max-width: 100%;
    text-align: right;
    margin-left: 0;
  }